#version: "3.8"

services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build:
      context: ./server
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./server:/app
    command: npm start

  frontend:
    build:
      context: ./client
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./client:/app
    command: npm start

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot-data/etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:


